import libraries(I provide all libs that I need when make this tasks, if you need some external import them here)

In [1]:
import pyspark
import pyspark.sql.functions as F
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType
from pyspark.sql.functions import col
from pyspark.sql.functions import max, avg, min
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number
from pyspark.sql.functions import when
from pyspark.sql.functions import rank

create local SparkSession

In [2]:
spark = SparkSession.builder.master("local[1]") \
                    .appName('PySpark_Basics') \
                    .getOrCreate()
spark

read csv with inferschema

In [3]:
df = spark.read.csv('ds_salaries.csv', header=True, inferSchema=True)
df.show()

+---+---------+----------------+---------------+--------------------+--------+---------------+-------------+------------------+------------+----------------+------------+
|_c0|work_year|experience_level|employment_type|           job_title|  salary|salary_currency|salary_in_usd|employee_residence|remote_ratio|company_location|company_size|
+---+---------+----------------+---------------+--------------------+--------+---------------+-------------+------------------+------------+----------------+------------+
|  0|     2020|              MI|             FT|      Data Scientist|   70000|            EUR|        79833|                DE|           0|              DE|           L|
|  1|     2020|              SE|             FT|Machine Learning ...|  260000|            USD|       260000|                JP|           0|              JP|           S|
|  2|     2020|              SE|             FT|   Big Data Engineer|   85000|            GBP|       109024|                GB|          50|              GB|           M|
|  3|     2020|              MI|             FT|Product Data Analyst|   20000|            USD|        20000|                HN|           0|              HN|           S|
|  4|     2020|              SE|             FT|Machine Learning ...|  150000|            USD|       150000|                US|          50|              US|           L|
|  5|     2020|              EN|             FT|        Data Analyst|   72000|            USD|        72000|                US|         100|              US|           L|
|  6|     2020|              SE|             FT| Lead Data Scientist|  190000|            USD|       190000|                US|         100|              US|           S|
|  7|     2020|              MI|             FT|      Data Scientist|11000000|            HUF|        35735|                HU|          50|              HU|           L|
|  8|     2020|              MI|             FT|Business Data Ana...|  135000|            USD|       135000|                US|         100|              US|           L|
|  9|     2020|              SE|             FT|  Lead Data Engineer|  125000|            USD|       125000|                NZ|          50|              NZ|           S|
| 10|     2020|              EN|             FT|      Data Scientist|   45000|            EUR|        51321|                FR|           0|              FR|           S|
| 11|     2020|              MI|             FT|      Data Scientist| 3000000|            INR|        40481|                IN|           0|              IN|           L|
| 12|     2020|              EN|             FT|      Data Scientist|   35000|            EUR|        39916|                FR|           0|              FR|           M|
| 13|     2020|              MI|             FT|   Lead Data Analyst|   87000|            USD|        87000|                US|         100|              US|           L|
| 14|     2020|              MI|             FT|        Data Analyst|   85000|            USD|        85000|                US|         100|              US|           L|
| 15|     2020|              MI|             FT|        Data Analyst|    8000|            USD|         8000|                PK|          50|              PK|           L|
| 16|     2020|              EN|             FT|       Data Engineer| 4450000|            JPY|        41689|                JP|         100|              JP|           S|
| 17|     2020|              SE|             FT|   Big Data Engineer|  100000|            EUR|       114047|                PL|         100|              GB|           S|
| 18|     2020|              EN|             FT|Data Science Cons...|  423000|            INR|         5707|                IN|          50|              IN|           M|
| 19|     2020|              MI|             FT|  Lead Data Engineer|   56000|            USD|        56000|                PT|         100|              US|           M|
+---+---------+----------------+---------------+--------------------+--------+---------------+-------------+------------------+------------+----------------+------------+
only showing top 20 rows

read csv one more time with the same code and you will see that it almostly don't take time, because info already in SparkSession and it will not read nothing
from this file

In [4]:
df = spark.read.csv('ds_salaries.csv', header=True, inferSchema=True)

write schema of scv on screen

In [5]:
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- work_year: integer (nullable = true)
 |-- experience_level: string (nullable = true)
 |-- employment_type: string (nullable = true)
 |-- job_title: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- salary_currency: string (nullable = true)
 |-- salary_in_usd: integer (nullable = true)
 |-- employee_residence: string (nullable = true)
 |-- remote_ratio: integer (nullable = true)
 |-- company_location: string (nullable = true)
 |-- company_size: string (nullable = true)

create schema of this scv

In [3]:
schema = StructType([
    StructField("employee_id", IntegerType(), True),
    StructField("work_year", IntegerType(), True),
    StructField("experience_level", StringType(), True),
    StructField("employment_type", StringType(), True),
    StructField("job_title", StringType(), True),
    StructField("salary", IntegerType(), True),
    StructField("salary_currency", StringType(), True),
    StructField("salary_in_usd", IntegerType(), True),
    StructField("employee_residence", StringType(), True),
    StructField("remote_ratio", IntegerType(), True),
    StructField("company_location", StringType(), True),
    StructField("company_size", StringType(), True)
])

restart kernel without cleaning output and after restarting you need to initialize SparkSession, after initialize start execute only cells from cell with schema=
=StructType.... 
To restart kernel click Kernel, Restart.

read ds_salaries with predefined schema and compare results from this cell and cell with inferSchema

In [4]:
ds_salaries = spark.read.csv("ds_salaries.csv", header=True, schema=schema)
ds_salaries.show()

+-----------+---------+----------------+---------------+--------------------+--------+---------------+-------------+------------------+------------+----------------+------------+
|employee_id|work_year|experience_level|employment_type|           job_title|  salary|salary_currency|salary_in_usd|employee_residence|remote_ratio|company_location|company_size|
+-----------+---------+----------------+---------------+--------------------+--------+---------------+-------------+------------------+------------+----------------+------------+
|          0|     2020|              MI|             FT|      Data Scientist|   70000|            EUR|        79833|                DE|           0|              DE|           L|
|          1|     2020|              SE|             FT|Machine Learning ...|  260000|            USD|       260000|                JP|           0|              JP|           S|
|          2|     2020|              SE|             FT|   Big Data Engineer|   85000|            GBP|       109024|                GB|          50|              GB|           M|
|          3|     2020|              MI|             FT|Product Data Analyst|   20000|            USD|        20000|                HN|           0|              HN|           S|
|          4|     2020|              SE|             FT|Machine Learning ...|  150000|            USD|       150000|                US|          50|              US|           L|
|          5|     2020|              EN|             FT|        Data Analyst|   72000|            USD|        72000|                US|         100|              US|           L|
|          6|     2020|              SE|             FT| Lead Data Scientist|  190000|            USD|       190000|                US|         100|              US|           S|
|          7|     2020|              MI|             FT|      Data Scientist|11000000|            HUF|        35735|                HU|          50|              HU|           L|
|          8|     2020|              MI|             FT|Business Data Ana...|  135000|            USD|       135000|                US|         100|              US|           L|
|          9|     2020|              SE|             FT|  Lead Data Engineer|  125000|            USD|       125000|                NZ|          50|              NZ|           S|
|         10|     2020|              EN|             FT|      Data Scientist|   45000|            EUR|        51321|                FR|           0|              FR|           S|
|         11|     2020|              MI|             FT|      Data Scientist| 3000000|            INR|        40481|                IN|           0|              IN|           L|
|         12|     2020|              EN|             FT|      Data Scientist|   35000|            EUR|        39916|                FR|           0|              FR|           M|
|         13|     2020|              MI|             FT|   Lead Data Analyst|   87000|            USD|        87000|                US|         100|              US|           L|
|         14|     2020|              MI|             FT|        Data Analyst|   85000|            USD|        85000|                US|         100|              US|           L|
|         15|     2020|              MI|             FT|        Data Analyst|    8000|            USD|         8000|                PK|          50|              PK|           L|
|         16|     2020|              EN|             FT|       Data Engineer| 4450000|            JPY|        41689|                JP|         100|              JP|           S|
|         17|     2020|              SE|             FT|   Big Data Engineer|  100000|            EUR|       114047|                PL|         100|              GB|           S|
|         18|     2020|              EN|             FT|Data Science Cons...|  423000|            INR|         5707|                IN|          50|              IN|           M|
|         19|     2020|              MI|             FT|  Lead Data Engineer|   56000|            USD|        56000|                PT|         100|              US|           M|
+-----------+---------+----------------+---------------+--------------------+--------+---------------+-------------+------------------+------------+----------------+------------+
only showing top 20 rows

this happens because read operation is lazy(transformation), but if you use inferschema it start to be action that will create Spark Job, because Spark need to loop throw all file to check datatypes for all columns and this can harm to your code(if we compare to parquet, it will also go to check data types, but parquet provide meta information, so Spark will not go throw all file, he will just read meta information, but csv don't provide such meta information). Also header make Spark to create one more Spark Job to check first line
to define name of columns and remember to skeep it when reading. Actual reading start when you will use first action. More about Spark Jobs you will see in next topic

write schema of scv on screen one more time and compare with previous

In [5]:
ds_salaries.printSchema()

root
 |-- employee_id: integer (nullable = true)
 |-- work_year: integer (nullable = true)
 |-- experience_level: string (nullable = true)
 |-- employment_type: string (nullable = true)
 |-- job_title: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- salary_currency: string (nullable = true)
 |-- salary_in_usd: integer (nullable = true)
 |-- employee_residence: string (nullable = true)
 |-- remote_ratio: integer (nullable = true)
 |-- company_location: string (nullable = true)
 |-- company_size: string (nullable = true)

now continue to work with one of the dataframes that you create

print data in dataframe using df.show

In [6]:
ds_salaries.show()

+-----------+---------+----------------+---------------+--------------------+--------+---------------+-------------+------------------+------------+----------------+------------+
|employee_id|work_year|experience_level|employment_type|           job_title|  salary|salary_currency|salary_in_usd|employee_residence|remote_ratio|company_location|company_size|
+-----------+---------+----------------+---------------+--------------------+--------+---------------+-------------+------------------+------------+----------------+------------+
|          0|     2020|              MI|             FT|      Data Scientist|   70000|            EUR|        79833|                DE|           0|              DE|           L|
|          1|     2020|              SE|             FT|Machine Learning ...|  260000|            USD|       260000|                JP|           0|              JP|           S|
|          2|     2020|              SE|             FT|   Big Data Engineer|   85000|            GBP|       109024|                GB|          50|              GB|           M|
|          3|     2020|              MI|             FT|Product Data Analyst|   20000|            USD|        20000|                HN|           0|              HN|           S|
|          4|     2020|              SE|             FT|Machine Learning ...|  150000|            USD|       150000|                US|          50|              US|           L|
|          5|     2020|              EN|             FT|        Data Analyst|   72000|            USD|        72000|                US|         100|              US|           L|
|          6|     2020|              SE|             FT| Lead Data Scientist|  190000|            USD|       190000|                US|         100|              US|           S|
|          7|     2020|              MI|             FT|      Data Scientist|11000000|            HUF|        35735|                HU|          50|              HU|           L|
|          8|     2020|              MI|             FT|Business Data Ana...|  135000|            USD|       135000|                US|         100|              US|           L|
|          9|     2020|              SE|             FT|  Lead Data Engineer|  125000|            USD|       125000|                NZ|          50|              NZ|           S|
|         10|     2020|              EN|             FT|      Data Scientist|   45000|            EUR|        51321|                FR|           0|              FR|           S|
|         11|     2020|              MI|             FT|      Data Scientist| 3000000|            INR|        40481|                IN|           0|              IN|           L|
|         12|     2020|              EN|             FT|      Data Scientist|   35000|            EUR|        39916|                FR|           0|              FR|           M|
|         13|     2020|              MI|             FT|   Lead Data Analyst|   87000|            USD|        87000|                US|         100|              US|           L|
|         14|     2020|              MI|             FT|        Data Analyst|   85000|            USD|        85000|                US|         100|              US|           L|
|         15|     2020|              MI|             FT|        Data Analyst|    8000|            USD|         8000|                PK|          50|              PK|           L|
|         16|     2020|              EN|             FT|       Data Engineer| 4450000|            JPY|        41689|                JP|         100|              JP|           S|
|         17|     2020|              SE|             FT|   Big Data Engineer|  100000|            EUR|       114047|                PL|         100|              GB|           S|
|         18|     2020|              EN|             FT|Data Science Cons...|  423000|            INR|         5707|                IN|          50|              IN|           M|
|         19|     2020|              MI|             FT|  Lead Data Engineer|   56000|            USD|        56000|                PT|         100|              US|           M|
+-----------+---------+----------------+---------------+--------------------+--------+---------------+-------------+------------------+------------+----------------+------------+
only showing top 20 rows

print data in dataframe using display(df.toPandas())

In [7]:
display(ds_salaries.toPandas())

,employee_id,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L
...,...,...,...,...,...,...,...,...,...,...,...,...
602,602,2022,SE,FT,Data Engineer,154000,USD,154000,US,100,US,M
603,603,2022,SE,FT,Data Engineer,126000,USD,126000,US,100,US,M
604,604,2022,SE,FT,Data Analyst,129000,USD,129000,US,0,US,M
605,605,2022,SE,FT,Data Analyst,150000,USD,150000,US,100,US,M
606,606,2022,MI,FT,AI Scientist,200000,USD,200000,IN,100,US,L

create df_job_title that consists from all job_titles without duplicates

In [8]:
df_job_title = ds_salaries.select('job_title').distinct()
df_job_title.show()

+--------------------+
|           job_title|
+--------------------+
|3D Computer Visio...|
|  Lead Data Engineer|
|Head of Machine L...|
|     Data Specialist|
| Data Analytics Lead|
|Machine Learning ...|
|   Lead Data Analyst|
|Data Engineering ...|
|Staff Data Scientist|
|       ETL Developer|
|Director of Data ...|
|Product Data Analyst|
|Principal Data Sc...|
|        AI Scientist|
|Director of Data ...|
|Machine Learning ...|
| Lead Data Scientist|
|Machine Learning ...|
|Data Science Engi...|
|Machine Learning ...|
+--------------------+
only showing top 20 rows

print all rows from df_job_titles without truncating jobs

In [9]:
df_job_title.show(df_job_title.count(), truncate=False)

+----------------------------------------+
|job_title                               |
+----------------------------------------+
|3D Computer Vision Researcher           |
|Lead Data Engineer                      |
|Head of Machine Learning                |
|Data Specialist                         |
|Data Analytics Lead                     |
|Machine Learning Scientist              |
|Lead Data Analyst                       |
|Data Engineering Manager                |
|Staff Data Scientist                    |
|ETL Developer                           |
|Director of Data Engineering            |
|Product Data Analyst                    |
|Principal Data Scientist                |
|AI Scientist                            |
|Director of Data Science                |
|Machine Learning Engineer               |
|Lead Data Scientist                     |
|Machine Learning Infrastructure Engineer|
|Data Science Engineer                   |
|Machine Learning Manager                |
|Research Scientist                      |
|Head of Data                            |
|Cloud Data Engineer                     |
|Machine Learning Developer              |
|Data Scientist                          |
|Finance Data Analyst                    |
|Data Analyst                            |
|Data Analytics Engineer                 |
|Data Science Consultant                 |
|Principal Data Engineer                 |
|Lead Machine Learning Engineer          |
|ML Engineer                             |
|Analytics Engineer                      |
|Data Science Manager                    |
|Business Data Analyst                   |
|Principal Data Analyst                  |
|Applied Machine Learning Scientist      |
|Financial Data Analyst                  |
|Data Analytics Manager                  |
|Computer Vision Engineer                |
|Computer Vision Software Engineer       |
|Big Data Engineer                       |
|Head of Data Science                    |
|NLP Engineer                            |
|Big Data Architect                      |
|Applied Data Scientist                  |
|Data Architect                          |
|BI Data Analyst                         |
|Marketing Data Analyst                  |
|Data Engineer                           |
+----------------------------------------+

create  df_analytic that will consists from max, avg, min USD salaries for all job_titles using groupBy. name of fields is avg_salary, min_salary, max_salary

In [10]:
df_analytic = ds_salaries.filter(ds_salaries.salary_currency == 'USD') \
                         .groupBy('job_title') \
                         .agg(avg('salary_in_usd').alias('avg_salary'), 
                              min('salary_in_usd').alias('min_salary'), 
                              max('salary_in_usd').alias('max_salary'))

print all rows from df_analytic without trancating jobs

In [11]:
df_analytic.show(df_analytic.count(), truncate=False)

+----------------------------------------+------------------+----------+----------+
|job_title                               |avg_salary        |min_salary|max_salary|
+----------------------------------------+------------------+----------+----------+
|Lead Data Engineer                      |154250.0          |56000     |276000    |
|Data Specialist                         |165000.0          |165000    |165000    |
|Data Analytics Lead                     |405000.0          |405000    |405000    |
|Machine Learning Scientist              |158412.5          |12000     |260000    |
|Lead Data Analyst                       |128500.0          |87000     |170000    |
|Data Engineering Manager                |159000.0          |150000    |174000    |
|Staff Data Scientist                    |105000.0          |105000    |105000    |
|Director of Data Engineering            |200000.0          |200000    |200000    |
|Product Data Analyst                    |20000.0           |20000     |20000     |
|Principal Data Scientist                |255500.0          |151000    |416000    |
|AI Scientist                            |79800.0           |12000     |200000    |
|Director of Data Science                |247666.66666666666|168000    |325000    |
|Machine Learning Engineer               |140488.0          |20000     |250000    |
|Lead Data Scientist                     |152500.0          |115000    |190000    |
|Machine Learning Infrastructure Engineer|195000.0          |195000    |195000    |
|Data Science Engineer                   |60000.0           |60000     |60000     |
|Research Scientist                      |139428.42857142858|42000     |450000    |
|Head of Data                            |221666.66666666666|200000    |235000    |
|Cloud Data Engineer                     |160000.0          |160000    |160000    |
|Machine Learning Developer              |100000.0          |100000    |100000    |
|Data Scientist                          |139712.75862068965|4000      |412000    |
|Data Analyst                            |101761.76829268293|8000      |200000    |
|Data Analytics Engineer                 |60000.0           |20000     |110000    |
|Data Science Consultant                 |96500.0           |90000     |103000    |
|Principal Data Engineer                 |328333.3333333333 |185000    |600000    |
|ML Engineer                             |263000.0          |256000    |270000    |
|Analytics Engineer                      |175000.0          |135000    |205300    |
|Data Science Manager                    |175118.3          |137141    |241000    |
|Business Data Analyst                   |117500.0          |100000    |135000    |
|Principal Data Analyst                  |122500.0          |75000     |170000    |
|Applied Machine Learning Scientist      |178800.0          |38400     |423000    |
|Financial Data Analyst                  |275000.0          |100000    |450000    |
|Data Analytics Manager                  |127134.28571428571|105400    |150260    |
|Computer Vision Engineer                |54750.0           |10000     |125000    |
|Computer Vision Software Engineer       |110000.0          |70000     |150000    |
|Big Data Engineer                       |49333.333333333336|18000     |70000     |
|Head of Data Science                    |146718.75         |85000     |224000    |
|Applied Data Scientist                  |238000.0          |157000    |380000    |
|Data Architect                          |177873.9090909091 |90700     |266400    |
|BI Data Analyst                         |82454.4           |9272      |150000    |
|Data Engineer                           |139465.8          |4000      |324000    |
+----------------------------------------+------------------+----------+----------+

now you need to add in df_analytic column row_id, that will show order of all job_titles depending on avg salary. they should be descending

In [12]:
windowSpec = Window.orderBy(F.desc("avg_salary"))

df_analytic = df_analytic.withColumn("row_id", F.rank().over(windowSpec))

print all data from df_analytic

In [13]:
df_analytic.show(df_analytic.count(), truncate=False)

+----------------------------------------+------------------+----------+----------+------+
|job_title                               |avg_salary        |min_salary|max_salary|row_id|
+----------------------------------------+------------------+----------+----------+------+
|Data Analytics Lead                     |405000.0          |405000    |405000    |1     |
|Principal Data Engineer                 |328333.3333333333 |185000    |600000    |2     |
|Financial Data Analyst                  |275000.0          |100000    |450000    |3     |
|ML Engineer                             |263000.0          |256000    |270000    |4     |
|Principal Data Scientist                |255500.0          |151000    |416000    |5     |
|Director of Data Science                |247666.66666666666|168000    |325000    |6     |
|Applied Data Scientist                  |238000.0          |157000    |380000    |7     |
|Head of Data                            |221666.66666666666|200000    |235000    |8     |
|Director of Data Engineering            |200000.0          |200000    |200000    |9     |
|Machine Learning Infrastructure Engineer|195000.0          |195000    |195000    |10    |
|Applied Machine Learning Scientist      |178800.0          |38400     |423000    |11    |
|Data Architect                          |177873.9090909091 |90700     |266400    |12    |
|Data Science Manager                    |175118.3          |137141    |241000    |13    |
|Analytics Engineer                      |175000.0          |135000    |205300    |14    |
|Data Specialist                         |165000.0          |165000    |165000    |15    |
|Cloud Data Engineer                     |160000.0          |160000    |160000    |16    |
|Data Engineering Manager                |159000.0          |150000    |174000    |17    |
|Machine Learning Scientist              |158412.5          |12000     |260000    |18    |
|Lead Data Engineer                      |154250.0          |56000     |276000    |19    |
|Lead Data Scientist                     |152500.0          |115000    |190000    |20    |
|Head of Data Science                    |146718.75         |85000     |224000    |21    |
|Machine Learning Engineer               |140488.0          |20000     |250000    |22    |
|Data Scientist                          |139712.75862068965|4000      |412000    |23    |
|Data Engineer                           |139465.8          |4000      |324000    |24    |
|Research Scientist                      |139428.42857142858|42000     |450000    |25    |
|Lead Data Analyst                       |128500.0          |87000     |170000    |26    |
|Data Analytics Manager                  |127134.28571428571|105400    |150260    |27    |
|Principal Data Analyst                  |122500.0          |75000     |170000    |28    |
|Business Data Analyst                   |117500.0          |100000    |135000    |29    |
|Computer Vision Software Engineer       |110000.0          |70000     |150000    |30    |
|Staff Data Scientist                    |105000.0          |105000    |105000    |31    |
|Data Analyst                            |101761.76829268293|8000      |200000    |32    |
|Machine Learning Developer              |100000.0          |100000    |100000    |33    |
|Data Science Consultant                 |96500.0           |90000     |103000    |34    |
|BI Data Analyst                         |82454.4           |9272      |150000    |35    |
|AI Scientist                            |79800.0           |12000     |200000    |36    |
|Data Science Engineer                   |60000.0           |60000     |60000     |37    |
|Data Analytics Engineer                 |60000.0           |20000     |110000    |37    |
|Computer Vision Engineer                |54750.0           |10000     |125000    |39    |
|Big Data Engineer                       |49333.333333333336|18000     |70000     |40    |
|Product Data Analyst                    |20000.0           |20000     |20000     |41    |
+----------------------------------------+------------------+----------+----------+------+

it isn't beautifull, so we need to put now row_id on first place in df_analytic

In [14]:
df_analytic = df_analytic.select("row_id", "job_title", "avg_salary", "min_salary", "max_salary")

print df_analytic now

In [15]:
df_analytic.show(df_analytic.count(), truncate=False)

+------+----------------------------------------+------------------+----------+----------+
|row_id|job_title                               |avg_salary        |min_salary|max_salary|
+------+----------------------------------------+------------------+----------+----------+
|1     |Data Analytics Lead                     |405000.0          |405000    |405000    |
|2     |Principal Data Engineer                 |328333.3333333333 |185000    |600000    |
|3     |Financial Data Analyst                  |275000.0          |100000    |450000    |
|4     |ML Engineer                             |263000.0          |256000    |270000    |
|5     |Principal Data Scientist                |255500.0          |151000    |416000    |
|6     |Director of Data Science                |247666.66666666666|168000    |325000    |
|7     |Applied Data Scientist                  |238000.0          |157000    |380000    |
|8     |Head of Data                            |221666.66666666666|200000    |235000    |
|9     |Director of Data Engineering            |200000.0          |200000    |200000    |
|10    |Machine Learning Infrastructure Engineer|195000.0          |195000    |195000    |
|11    |Applied Machine Learning Scientist      |178800.0          |38400     |423000    |
|12    |Data Architect                          |177873.9090909091 |90700     |266400    |
|13    |Data Science Manager                    |175118.3          |137141    |241000    |
|14    |Analytics Engineer                      |175000.0          |135000    |205300    |
|15    |Data Specialist                         |165000.0          |165000    |165000    |
|16    |Cloud Data Engineer                     |160000.0          |160000    |160000    |
|17    |Data Engineering Manager                |159000.0          |150000    |174000    |
|18    |Machine Learning Scientist              |158412.5          |12000     |260000    |
|19    |Lead Data Engineer                      |154250.0          |56000     |276000    |
|20    |Lead Data Scientist                     |152500.0          |115000    |190000    |
|21    |Head of Data Science                    |146718.75         |85000     |224000    |
|22    |Machine Learning Engineer               |140488.0          |20000     |250000    |
|23    |Data Scientist                          |139712.75862068965|4000      |412000    |
|24    |Data Engineer                           |139465.8          |4000      |324000    |
|25    |Research Scientist                      |139428.42857142858|42000     |450000    |
|26    |Lead Data Analyst                       |128500.0          |87000     |170000    |
|27    |Data Analytics Manager                  |127134.28571428571|105400    |150260    |
|28    |Principal Data Analyst                  |122500.0          |75000     |170000    |
|29    |Business Data Analyst                   |117500.0          |100000    |135000    |
|30    |Computer Vision Software Engineer       |110000.0          |70000     |150000    |
|31    |Staff Data Scientist                    |105000.0          |105000    |105000    |
|32    |Data Analyst                            |101761.76829268293|8000      |200000    |
|33    |Machine Learning Developer              |100000.0          |100000    |100000    |
|34    |Data Science Consultant                 |96500.0           |90000     |103000    |
|35    |BI Data Analyst                         |82454.4           |9272      |150000    |
|36    |AI Scientist                            |79800.0           |12000     |200000    |
|37    |Data Science Engineer                   |60000.0           |60000     |60000     |
|37    |Data Analytics Engineer                 |60000.0           |20000     |110000    |
|39    |Computer Vision Engineer                |54750.0           |10000     |125000    |
|40    |Big Data Engineer                       |49333.333333333336|18000     |70000     |
|41    |Product Data Analyst                    |20000.0           |20000     |20000     |
+------+----------------------------------------+------------------+----------+----------+

here you need to create df_exp_lvl with the biggest usd_salary(biggest_salary) for each experience_level(you need to save all fields like in entire dataframe)

In [16]:
df_exp_lvl = ds_salaries.filter(ds_salaries.salary_currency == 'USD') \
                         .groupBy('experience_level') \
                         .agg(max('salary_in_usd').alias('biggest_salary'))

print here df_exp_lvl

In [17]:
df_exp_lvl.show()

+----------------+--------------+
|experience_level|biggest_salary|
+----------------+--------------+
|              EX|        600000|
|              MI|        450000|
|              EN|        250000|
|              SE|        412000|
+----------------+--------------+

create df_best that consists from rows where salary of guy same as biggest salary for other people in his exp_lvl and choose only columns: id, experience_level, biggest_salary, employee_residence

In [18]:
ds_salaries = ds_salaries.alias("ds_salaries")
df_exp_lvl = df_exp_lvl.alias("df_exp_lvl")

df_best = ds_salaries.join(df_exp_lvl, col("salary_in_usd") == col("biggest_salary"), "inner") \
                     .select(ds_salaries.employee_id.alias('id')
                             , ds_salaries.experience_level
                             , df_exp_lvl.biggest_salary
                             , ds_salaries.employee_residence)

print df_best

In [19]:
df_best.show()

+---+----------------+--------------+------------------+
| id|experience_level|biggest_salary|employee_residence|
+---+----------------+--------------+------------------+
| 33|              MI|        450000|                US|
| 37|              EN|        250000|                US|
| 63|              SE|        412000|                US|
| 97|              MI|        450000|                US|
|167|              EX|        250000|                US|
|252|              EX|        600000|                US|
+---+----------------+--------------+------------------+

drop duplicates if exist by experience_level

In [20]:
df_best = df_best.dropDuplicates(["experience_level"])

print df_best

In [21]:
df_best.show()

+---+----------------+--------------+------------------+
| id|experience_level|biggest_salary|employee_residence|
+---+----------------+--------------+------------------+
| 37|              EN|        250000|                US|
|167|              EX|        250000|                US|
| 33|              MI|        450000|                US|
| 63|              SE|        412000|                US|
+---+----------------+--------------+------------------+

create df_new_best from df_best without id, and make the next: when exp_level = MI we want middle, when SE we want senior, else Null

In [22]:
df_new_best = df_best.drop('id')

df_new_best = df_new_best.withColumn(
    'experience_level',
    when(col('experience_level') == 'MI', 'middle')
    .when(col('experience_level') == 'SE', 'senior')
    .otherwise(None)
)

print df_new_best

In [23]:
df_new_best.show()

+----------------+--------------+------------------+
|experience_level|biggest_salary|employee_residence|
+----------------+--------------+------------------+
|            null|        250000|                US|
|            null|        250000|                US|
|          middle|        450000|                US|
|          senior|        412000|                US|
+----------------+--------------+------------------+

write df_new_best like 1.csv and load then it to df_final

In [24]:
df_new_best.write.csv('1.csv', header=True)

df_final = spark.read.csv('1.csv', header=True)

print df_final

In [25]:
df_final.show()

+----------------+--------------+------------------+
|experience_level|biggest_salary|employee_residence|
+----------------+--------------+------------------+
|            null|        250000|                US|
|            null|        250000|                US|
|          middle|        450000|                US|
|          senior|        412000|                US|
+----------------+--------------+------------------+

filter df_final to delete experience_level where it Null, then join this table by biggest_salary(salary_in_usd) and employee_residence with entire df

In [26]:
df_final_filtered = df_final.filter(df_final.experience_level.isNotNull())

df_final = ds_salaries.join(
    df_final_filtered,
    col('biggest_salary') == col('salary_in_usd'),
    'inner'
)

print df_final

In [27]:
df_final.show(vertical=True)

-RECORD 0----------------------------------
 employee_id        | 33
 work_year          | 2020
 experience_level   | MI
 employment_type    | FT
 job_title          | Research Scientist
 salary             | 450000
 salary_currency    | USD
 salary_in_usd      | 450000
 employee_residence | US
 remote_ratio       | 0
 company_location   | US
 company_size       | M
 experience_level   | middle
 biggest_salary     | 450000
 employee_residence | US
-RECORD 1----------------------------------
 employee_id        | 63
 work_year          | 2020
 experience_level   | SE
 employment_type    | FT
 job_title          | Data Scientist
 salary             | 412000
 salary_currency    | USD
 salary_in_usd      | 412000
 employee_residence | US
 remote_ratio       | 100
 company_location   | US
 company_size       | L
 experience_level   | senior
 biggest_salary     | 412000
 employee_residence | US
-RECORD 2----------------------------------
 employee_id        | 97
 work_year          | 2021
 experience_level   | MI
 employment_type    | FT
 job_title          | Financial Data An...
 salary             | 450000
 salary_currency    | USD
 salary_in_usd      | 450000
 employee_residence | US
 remote_ratio       | 100
 company_location   | US
 company_size       | L
 experience_level   | middle
 biggest_salary     | 450000
 employee_residence | US

last task is to save in variable and then print this variable of the biggest salary_in_usd from df_final

In [28]:
max_salary = df_final.agg(max(col('salary_in_usd'))).collect()[0][0]
max_salary

450000

It is the end of PySpark basics. In other lessons you will learn optimizations technics and how to make distributed system