In [1]:
import pyspark.sql.types as T
from pyspark.sql.functions import when, col, lit, regexp_extract
from pyspark.sql import SparkSession

In [2]:
people_schema = T.StructType([ \
    T.StructField("rank", T.IntegerType(), True), \
    T.StructField("name", T.StringType(), True), \
    T.StructField("net_worth", T.StringType(), True), \
    T.StructField("bday", T.StringType(), True), \
    T.StructField("age", T.IntegerType(), True), \
    T.StructField("nationality", T.StringType(), True)
])

In [5]:
country_schema = T.StructType([ \
    T.StructField("country", T.StringType(), True), \
    T.StructField("num_billionares", T.StringType(), True), \
    T.StructField("billionaire_per_million", T.StringType(), True)
])

In [6]:
spark = SparkSession\
            .builder\
            .appName('spark_basic')\
            .getOrCreate()

In [16]:
df_people = spark.read.option('header', 'true').schema(people_schema).csv('data/top_100_richest.csv')
df_people.show(df_people.count(), truncate=False)

+----+----------------------------------+-------------+---------+----+------------------------+
|rank|name                              |net_worth    |bday     |age |nationality             |
+----+----------------------------------+-------------+---------+----+------------------------+
|1   |Elon Musk                         |$240 Billion |28-Jun-71|51  |South Africa            |
|2   |Jeff Bezos                        |$150 Billion |12-Jan-64|58  |United States of America|
|3   |Gautam Adani                      |$138 Billion |24-Jun-62|60  |India                   |
|4   |Bernard Arnault                   |$135 Billion |5-Mar-49 |73  |France                  |
|5   |Bill Gates                        |$118 Billion |28-Oct-55|66  |United States of America|
|6   |Warren Buffett                    |$101 Billion |30-Aug-30|92  |United States of America|
|7   |Larry Page                        |$100 Billion |26-Mar-73|49  |United States of America|
|8   |Sergey Brin                       |$96 Billion  |21-Aug-73|48  |United States of America|
|9   |Steve Ballmer                     |$94 Billion  |24-Mar-56|66  |United States of America|
|10  |Larry Ellison                     |$93 Billion  |17-Aug-44|78  |United States of America|
|11  |Alain & Gerard Wertheimer         |$90 Billion  |null     |null|France                  |
|12  |Mukesh Ambani                     |$89 Billion  |19-Apr-57|65  |India                   |
|13  |Carlos Slim Helu                  |$72 Billion  |28-Jan-40|82  |Mexico                  |
|14  |Vladimir Putin                    |$70 Billion  |7-Oct-52 |69  |Russia                  |
|15  |Fran√ßoise Bettencourt-Meyers      |$70 Billion  |10-Jul-53|69  |France                  |
|16  |Amancio Ortega Gaona              |$70 Billion  |28-Mar-36|86  |Spain                   |
|17  |Michael Bloomberg                 |$70 Billion  |14-Feb-42|80  |United States of America|
|18  |Mark Zuckerberg                   |$70 Billion  |14-May-84|38  |United States of America|
|19  |Rob Walton                        |$68 Billion  |28-Oct-44|77  |United States of America|
|20  |Jim Walton                        |$68 Billion  |7-Jun-48 |74  |United States of America|
|21  |Zhong Shanshan                    |$68 Billion  |null     |null|China                   |
|22  |Alice Walton                      |$66 Billion  |7-Oct-49 |72  |United States of America|
|23  |Julia Flesher Koch                |$62 Billion  |12-Apr-62|60  |United States of America|
|24  |Charles Koch                      |$60 Billion  |1-Nov-35 |86  |United States of America|
|25  |Michael Dell                      |$52 Billion  |23-Feb-65|57  |United States of America|
|26  |Francois Pinault                  |$50 Billion  |21-Aug-36|86  |France                  |
|27  |David Thomson                     |$50 Billion  |12-Jun-57|65  |Canada                  |
|28  |Ma Huateng                        |$48 Billion  |29-Oct-71|50  |China                   |
|29  |Alain Wertheimer                  |$45 Billion  |28-Sep-48|73  |France                  |
|30  |Gerard Wertheimer                 |$45 Billion  |17-Apr-51|71  |French                  |
|31  |Zhang Yiming                      |$44 Billion  |1-Apr-83 |39  |China                   |
|32  |Tadashi Yanai                     |$42 Billion  |7-Feb-49 |73  |Japan                   |
|33  |John Mars                         |$42 Billion  |15-Oct-35|86  |United States of America|
|34  |Jacqueline Mars                   |$42 Billion  |10-Oct-39|82  |United States of America|
|35  |Phil Knight                       |$40 Billion  |24-Feb-38|84  |United States of America|
|36  |Vladimir Potanin                  |$35 Billion  |3-Jan-61 |61  |Russia                  |
|37  |Stephen Schwarzman                |$35 Billion  |14-Feb-47|75  |United States of America|
|38  |Jack Ma                           |$34 Billion  |15-Oct-64|57  |China                   |
|39  |Miriam Adelson                    |$34 Billion  |10-Oct-45|76  |American, Israeli       |
|40  |Colin Huang                       |$33 Billion  |1-Jan-80 |42  |China                   |
|41  |Lee Shau Kee                      |$33 Billion  |29-Jan-28|94  |China                   |
|42  |Len Blavatnik                     |$32 Billion  |14-Jun-57|65  |United Kingdom          |
|43  |Li Ka-shing                       |$31 Billion  |29-Jul-28|94  |Canada                  |
|44  |Gina Rinehart                     |$31 Billion  |9-Feb-54 |68  |Australia               |
|45  |Sheikh Mansour bin Zayed Al Nahyan|$30 Billion  |20-Nov-70|51  |Emirati                 |
|46  |Masayoshi Son                     |$30 Billion  |11-Aug-57|65  |Japan                   |
|47  |Sultan of Brunei                  |$30 Billion  |15-Jul-46|76  |Brunei                  |
|48  |Maha Vajiralongkorn               |$30 Billion  |28-Jul-52|70  |Thailand                |
|49  |Giovanni Ferrero                  |$28 Billion  |21-Sep-64|57  |Italy                   |
|50  |Ken Griffin                       |$28 Billion  |15-Oct-68|53  |United States of America|
|51  |Abigail Johnson                   |$28 Billion  |19-Dec-61|60  |United States of America|
|52  |He Xiangjian                      |$27 Billion  |5-Oct-42 |79  |China                   |
|53  |Dieter Schwarz                    |$27 Billion  |24-Sep-39|82  |Germany                 |
|54  |William Ding                      |$26 Billion  |1-Oct-71 |50  |China                   |
|55  |Shiv Nadar                        |$25.9 Billion|14-Jul-45|77  |India                   |
|56  |Stefan Persson                    |$25 Billion  |4-Oct-47 |74  |Sweden                  |
|57  |Joseph Safra                      |$25 Billion  |1-Sep-38 |null|Brazil                  |
|58  |Eric Yuan                         |$25 Billion  |20-Feb-70|52  |China                   |
|59  |Carl Icahn                        |$24 Billion  |16-Feb-36|86  |United States of America|
|60  |Takemitsu Takizaki                |$24 Billion  |10-Jun-45|77  |Japan                   |
|61  |Pierre Omidyar                    |$24 Billion  |21-Jun-67|55  |United States of America|
|62  |Forrest Mars Jr                   |$23.4 Billion|16-Aug-31|91  |United States of America|
|63  |Jorge Paulo Lemann                |$23 Billion  |26-Aug-39|83  |Brazil                  |
|64  |Eric Schmidt                      |$23 Billion  |27-Apr-55|67  |United States of America|
|65  |Satoshi Nakamoto                  |$22 Billion  |5-Apr-75 |73  |Japan                   |
|66  |Qin Yinglin                       |$22 Billion  |null     |57  |China                   |
|67  |James Simons                      |$22 Billion  |25-Apr-38|84  |United States of America|
|68  |Wang Wei                          |$22 Billion  |null     |51  |China                   |
|69  |James Dyson                       |$22 Billion  |2-May-47 |75  |United Kingdom          |
|70  |Aliko Dangote                     |$21 Billion  |10-Apr-57|65  |Nigeria                 |
|71  |Leonard Lauder                    |$21 Billion  |19-Mar-33|89  |United States of America|
|72  |Andrey Melnichenko                |$21 Billion  |8-Mar-72 |50  |Russia                  |
|73  |Sir Evelyn De Rothschild          |$20 Billion  |29-Aug-31|90  |England                 |
|74  |Salman bin Abdulaziz Al Saud      |$20 Billion  |31-Dec-35|86  |Saudi Arabia            |
|75  |Alexey Mordashov                  |$20 Billion  |26-Sep-65|56  |Russia                  |
|76  |John Menard                       |$20 Billion  |22-Jan-40|82  |United States of America|
|77  |Elaine Marshall                   |$20 Billion  |18-Nov-45|76  |United States of America|
|78  |Rupert Murdoch                    |$20 Billion  |11-Mar-31|91  |Australia               |
|79  |Dan Gilbert                       |$20 Billion  |17-Jan-62|60  |United States of America|
|80  |Leonid Mikhelson                  |$20 Billion  |11-Aug-55|67  |Russia                  |
|81  |Pallonji Mistry                   |$19 Billion  |1-Jun-29 |null|India                   |
|82  |Susanne Klatten                   |$19 Billion  |28-Apr-62|60  |Germany                 |
|83  |Eduardo Saverin                   |$19 Billion  |19-Mar-82|40  |Brazil                  |
|84  |Vladimir Lisin                    |$19 Billion  |7-May-56 |66  |Russia                  |
|85  |James Ratcliffe                   |$19 Billion  |18-Oct-52|69  |United Kingdom          |
|86  |Laurene Powell Jobs               |$19 Billion  |6-Nov-63 |58  |United States of America|
|87  |Lakshmi Mittal                    |$18 Billion  |2-Sep-50 |71  |India                   |
|88  |David & Simon Reuben              |$18 Billion  |null     |null|United Kingdom          |
|89  |Sheikh Khalifa Bin Zayed Al Nahyan|$18 Billion  |25-Jan-48|74  |United Arab Emirates    |
|90  |Alisher Usmanov                   |$18 Billion  |9-Sep-53 |68  |Russia                  |
|91  |Lukas Walton                      |$18 Billion  |null     |36  |United States of America|
|92  |Serge Dassault                    |$17.3 Billion|4-Apr-25 |97  |France                  |
|93  |Pavel Durov                       |$17 Billion  |10-Oct-84|37  |Russia                  |
|94  |Donald Bren                       |$17 Billion  |11-May-32|90  |United States of America|
|95  |Thomas Peterffy                   |$17 Billion  |30-Sep-44|77  |United States of America|
|96  |Prince Al Waleed Bin Talal Alsaud |$17 Billion  |7-Mar-55 |67  |Saudi Arabia            |
|97  |Harold Hamm                       |$17 Billion  |11-Dec-45|76  |United States of America|
|98  |Viktor Vekselberg                 |$17 Billion  |14-Apr-57|65  |Russia                  |
|99  |Steven Cohen                      |$16 Billion  |11-Jun-56|66  |United States of America|
|100 |Stefan Quandt                     |$16 Billion  |9-May-66 |56  |Germany                 |
+----+----------------------------------+-------------+---------+----+------------------------+

In [17]:
df_country = spark.read.option('header', 'true').schema(country_schema).csv('data/wiki_number_of_billionaires.csv')
df_country.show(df_country.count(), truncate=False)

+--------------------+---------------+-----------------------+
|country             |num_billionares|billionaire_per_million|
+--------------------+---------------+-----------------------+
|"World,""2          |668""          |0.35"                  |
|United States       |735            |1.853                  |
|Mainland China      |539            |0.276                  |
|India               |166            |0.101                  |
|Germany             |134            |1.553                  |
|Russia              |83             |0.677                  |
|Hong Kong           |67             |8.830                  |
|Canada              |64             |1.147                  |
|Brazil              |62             |0.211                  |
|Italy               |52             |0.607                  |
|Taiwan              |51             |1.529                  |
|United Kingdom      |49             |0.674                  |
|Australia           |46             |1.203                  |
|Sweden              |45             |2.987                  |
|France              |43             |0.579                  |
|Switzerland         |41             |4.044                  |
|South Korea         |41             |0.540                  |
|Japan               |40             |0.207                  |
|Indonesia           |30             |0.056                  |
|Israel              |30             |3.158                  |
|Thailand            |28             |0.300                  |
|Spain               |27             |0.507                  |
|Singapore           |26             |4.573                  |
|Turkey              |24             |0.275                  |
|Philippines         |20             |0.136                  |
|Malaysia            |17             |0.366                  |
|Mexico              |15             |0.095                  |
|Norway              |13             |2.226                  |
|Austria             |11             |1.007                  |
|Netherlands         |11             |0.626                  |
|Czech Republic      |9              |0.747                  |
|Ireland             |9              |1.808                  |
|Denmark             |9              |1.370                  |
|Chile               |7              |0.356                  |
|Egypt               |6              |0.059                  |
|Finland             |6              |1.090                  |
|Ukraine             |6              |0.144                  |
|Lebanon             |6              |0.886                  |
|Poland              |6              |0.157                  |
|Portugal            |5              |0.497                  |
|Kazakhstan          |4              |0.212                  |
|South Africa        |4              |0.067                  |
|Argentina           |4              |0.087                  |
|United Arab Emirates|4              |0.427                  |
|Vietnam             |4              |0.041                  |
|Colombia            |3              |0.059                  |
|Cyprus              |3              |3.378                  |
|Greece              |3              |0.280                  |
|Monaco              |3              |78.740                 |
|Nigeria             |3              |0.014                  |
|Bulgaria            |2              |null                   |
|Peru                |2              |0.061                  |
|New Zealand         |2              |0.391                  |
|St. Kitts & Nevis   |2              |37.037                 |
|Romania             |2              |0.104                  |
|Slovakia            |2              |0.366                  |
|Georgia             |2              |0.537                  |
|Uruguay             |2              |null                   |
|Barbados            |1              |null                   |
|Estonia             |1              |null                   |
|Nepal               |1              |0.033                  |
|Morocco             |1              |0.028                  |
|Oman                |1              |0.223                  |
|Belgium             |1              |0.087                  |
|Venezuela           |1              |0.035                  |
|Algeria             |1              |0.022                  |
|Angola              |1              |0.031                  |
|Eswatini (Swaziland)|1              |0.915                  |
|Guernsey            |1              |15.834                 |
|Hungary             |1              |0.103                  |
|Iceland             |1              |2.713                  |
|Liechtenstein       |1              |25.710                 |
|China               |1              |1.464                  |
|Kuwait              |1              |0.224                  |
|Tanzania            |1              |0.017                  |
|Zimbabwe            |1              |0.063                  |
|Qatar               |1              |0.368                  |
+--------------------+---------------+-----------------------+

In [15]:
df_people_filtered = df_people.withColumn('net_worth', regexp_extract(col('net_worth'), '^\$(\\d+).*$', 1).cast('int')).filter(col('net_worth') > 60)
df_people_filtered.show(df_people_filtered.count(), truncate=False)

+----+----------------------------+---------+---------+----+------------------------+
|rank|name                        |net_worth|bday     |age |nationality             |
+----+----------------------------+---------+---------+----+------------------------+
|1   |Elon Musk                   |240      |28-Jun-71|51  |South Africa            |
|2   |Jeff Bezos                  |150      |12-Jan-64|58  |United States of America|
|3   |Gautam Adani                |138      |24-Jun-62|60  |India                   |
|4   |Bernard Arnault             |135      |5-Mar-49 |73  |France                  |
|5   |Bill Gates                  |118      |28-Oct-55|66  |United States of America|
|6   |Warren Buffett              |101      |30-Aug-30|92  |United States of America|
|7   |Larry Page                  |100      |26-Mar-73|49  |United States of America|
|8   |Sergey Brin                 |96       |21-Aug-73|48  |United States of America|
|9   |Steve Ballmer               |94       |24-Mar-56|66  |United States of America|
|10  |Larry Ellison               |93       |17-Aug-44|78  |United States of America|
|11  |Alain & Gerard Wertheimer   |90       |null     |null|France                  |
|12  |Mukesh Ambani               |89       |19-Apr-57|65  |India                   |
|13  |Carlos Slim Helu            |72       |28-Jan-40|82  |Mexico                  |
|14  |Vladimir Putin              |70       |7-Oct-52 |69  |Russia                  |
|15  |Fran√ßoise Bettencourt-Meyers|70       |10-Jul-53|69  |France                  |
|16  |Amancio Ortega Gaona        |70       |28-Mar-36|86  |Spain                   |
|17  |Michael Bloomberg           |70       |14-Feb-42|80  |United States of America|
|18  |Mark Zuckerberg             |70       |14-May-84|38  |United States of America|
|19  |Rob Walton                  |68       |28-Oct-44|77  |United States of America|
|20  |Jim Walton                  |68       |7-Jun-48 |74  |United States of America|
|21  |Zhong Shanshan              |68       |null     |null|China                   |
|22  |Alice Walton                |66       |7-Oct-49 |72  |United States of America|
|23  |Julia Flesher Koch          |62       |12-Apr-62|60  |United States of America|
+----+----------------------------+---------+---------+----+------------------------+

In [20]:
df_people_new = df_people_filtered.withColumn('nationality', when(col('nationality') == 'United States of America',  'United States').\
                                                                            when(col('nationality') == 'French',  'France').\
                                                                            when(col('nationality') == 'England', 'United Kingdom').\
                                                                            otherwise(col('nationality')))
df_people_new.show(df_people_new.count(), truncate=False)

+----+----------------------------+---------+---------+----+-------------+
|rank|name                        |net_worth|bday     |age |nationality  |
+----+----------------------------+---------+---------+----+-------------+
|1   |Elon Musk                   |240      |28-Jun-71|51  |South Africa |
|2   |Jeff Bezos                  |150      |12-Jan-64|58  |United States|
|3   |Gautam Adani                |138      |24-Jun-62|60  |India        |
|4   |Bernard Arnault             |135      |5-Mar-49 |73  |France       |
|5   |Bill Gates                  |118      |28-Oct-55|66  |United States|
|6   |Warren Buffett              |101      |30-Aug-30|92  |United States|
|7   |Larry Page                  |100      |26-Mar-73|49  |United States|
|8   |Sergey Brin                 |96       |21-Aug-73|48  |United States|
|9   |Steve Ballmer               |94       |24-Mar-56|66  |United States|
|10  |Larry Ellison               |93       |17-Aug-44|78  |United States|
|11  |Alain & Gerard Wertheimer   |90       |null     |null|France       |
|12  |Mukesh Ambani               |89       |19-Apr-57|65  |India        |
|13  |Carlos Slim Helu            |72       |28-Jan-40|82  |Mexico       |
|14  |Vladimir Putin              |70       |7-Oct-52 |69  |Russia       |
|15  |Fran√ßoise Bettencourt-Meyers|70       |10-Jul-53|69  |France       |
|16  |Amancio Ortega Gaona        |70       |28-Mar-36|86  |Spain        |
|17  |Michael Bloomberg           |70       |14-Feb-42|80  |United States|
|18  |Mark Zuckerberg             |70       |14-May-84|38  |United States|
|19  |Rob Walton                  |68       |28-Oct-44|77  |United States|
|20  |Jim Walton                  |68       |7-Jun-48 |74  |United States|
|21  |Zhong Shanshan              |68       |null     |null|China        |
|22  |Alice Walton                |66       |7-Oct-49 |72  |United States|
|23  |Julia Flesher Koch          |62       |12-Apr-62|60  |United States|
+----+----------------------------+---------+---------+----+-------------+

In [21]:
df_prelast = df_people_new.join(df_country, df_people_new['nationality'] == df_country['country'], 'inner')
df_prelast.show(df_prelast.count(), truncate=False)

+----+----------------------------+---------+---------+----+-------------+-------------+---------------+-----------------------+
|rank|name                        |net_worth|bday     |age |nationality  |country      |num_billionares|billionaire_per_million|
+----+----------------------------+---------+---------+----+-------------+-------------+---------------+-----------------------+
|1   |Elon Musk                   |240      |28-Jun-71|51  |South Africa |South Africa |4              |0.067                  |
|2   |Jeff Bezos                  |150      |12-Jan-64|58  |United States|United States|735            |1.853                  |
|3   |Gautam Adani                |138      |24-Jun-62|60  |India        |India        |166            |0.101                  |
|4   |Bernard Arnault             |135      |5-Mar-49 |73  |France       |France       |43             |0.579                  |
|5   |Bill Gates                  |118      |28-Oct-55|66  |United States|United States|735            |1.853                  |
|6   |Warren Buffett              |101      |30-Aug-30|92  |United States|United States|735            |1.853                  |
|7   |Larry Page                  |100      |26-Mar-73|49  |United States|United States|735            |1.853                  |
|8   |Sergey Brin                 |96       |21-Aug-73|48  |United States|United States|735            |1.853                  |
|9   |Steve Ballmer               |94       |24-Mar-56|66  |United States|United States|735            |1.853                  |
|10  |Larry Ellison               |93       |17-Aug-44|78  |United States|United States|735            |1.853                  |
|11  |Alain & Gerard Wertheimer   |90       |null     |null|France       |France       |43             |0.579                  |
|12  |Mukesh Ambani               |89       |19-Apr-57|65  |India        |India        |166            |0.101                  |
|13  |Carlos Slim Helu            |72       |28-Jan-40|82  |Mexico       |Mexico       |15             |0.095                  |
|14  |Vladimir Putin              |70       |7-Oct-52 |69  |Russia       |Russia       |83             |0.677                  |
|15  |Fran√ßoise Bettencourt-Meyers|70       |10-Jul-53|69  |France       |France       |43             |0.579                  |
|16  |Amancio Ortega Gaona        |70       |28-Mar-36|86  |Spain        |Spain        |27             |0.507                  |
|17  |Michael Bloomberg           |70       |14-Feb-42|80  |United States|United States|735            |1.853                  |
|18  |Mark Zuckerberg             |70       |14-May-84|38  |United States|United States|735            |1.853                  |
|19  |Rob Walton                  |68       |28-Oct-44|77  |United States|United States|735            |1.853                  |
|20  |Jim Walton                  |68       |7-Jun-48 |74  |United States|United States|735            |1.853                  |
|21  |Zhong Shanshan              |68       |null     |null|China        |China        |1              |1.464                  |
|22  |Alice Walton                |66       |7-Oct-49 |72  |United States|United States|735            |1.853                  |
|23  |Julia Flesher Koch          |62       |12-Apr-62|60  |United States|United States|735            |1.853                  |
+----+----------------------------+---------+---------+----+-------------+-------------+---------------+-----------------------+

In [22]:
df_last = df_prelast.filter(col('age').isNotNull()).select(col('rank'), col('name'), col('net_worth'), col('bday'), col('age'), col('nationality'))
df_last.show(df_last.count(), truncate=False)

+----+----------------------------+---------+---------+---+-------------+
|rank|name                        |net_worth|bday     |age|nationality  |
+----+----------------------------+---------+---------+---+-------------+
|1   |Elon Musk                   |240      |28-Jun-71|51 |South Africa |
|2   |Jeff Bezos                  |150      |12-Jan-64|58 |United States|
|3   |Gautam Adani                |138      |24-Jun-62|60 |India        |
|4   |Bernard Arnault             |135      |5-Mar-49 |73 |France       |
|5   |Bill Gates                  |118      |28-Oct-55|66 |United States|
|6   |Warren Buffett              |101      |30-Aug-30|92 |United States|
|7   |Larry Page                  |100      |26-Mar-73|49 |United States|
|8   |Sergey Brin                 |96       |21-Aug-73|48 |United States|
|9   |Steve Ballmer               |94       |24-Mar-56|66 |United States|
|10  |Larry Ellison               |93       |17-Aug-44|78 |United States|
|12  |Mukesh Ambani               |89       |19-Apr-57|65 |India        |
|13  |Carlos Slim Helu            |72       |28-Jan-40|82 |Mexico       |
|14  |Vladimir Putin              |70       |7-Oct-52 |69 |Russia       |
|15  |Fran√ßoise Bettencourt-Meyers|70       |10-Jul-53|69 |France       |
|16  |Amancio Ortega Gaona        |70       |28-Mar-36|86 |Spain        |
|17  |Michael Bloomberg           |70       |14-Feb-42|80 |United States|
|18  |Mark Zuckerberg             |70       |14-May-84|38 |United States|
|19  |Rob Walton                  |68       |28-Oct-44|77 |United States|
|20  |Jim Walton                  |68       |7-Jun-48 |74 |United States|
|22  |Alice Walton                |66       |7-Oct-49 |72 |United States|
|23  |Julia Flesher Koch          |62       |12-Apr-62|60 |United States|
+----+----------------------------+---------+---------+---+-------------+

In [23]:
df_parquet = spark.read.schema(people_schema).parquet('data_parquet')

In [25]:
df_parquet.show(df_parquet.count(), truncate=False)

+----+----------------------------------+-------------+---------+----+------------------------+
|rank|name                              |net_worth    |bday     |age |nationality             |
+----+----------------------------------+-------------+---------+----+------------------------+
|2   |Jeff Bezos                        |$150 Billion |12-Jan-64|58  |United States of America|
|5   |Bill Gates                        |$118 Billion |28-Oct-55|66  |United States of America|
|6   |Warren Buffett                    |$101 Billion |30-Aug-30|92  |United States of America|
|7   |Larry Page                        |$100 Billion |26-Mar-73|49  |United States of America|
|8   |Sergey Brin                       |$96 Billion  |21-Aug-73|48  |United States of America|
|9   |Steve Ballmer                     |$94 Billion  |24-Mar-56|66  |United States of America|
|10  |Larry Ellison                     |$93 Billion  |17-Aug-44|78  |United States of America|
|17  |Michael Bloomberg                 |$70 Billion  |14-Feb-42|80  |United States of America|
|18  |Mark Zuckerberg                   |$70 Billion  |14-May-84|38  |United States of America|
|19  |Rob Walton                        |$68 Billion  |28-Oct-44|77  |United States of America|
|20  |Jim Walton                        |$68 Billion  |7-Jun-48 |74  |United States of America|
|22  |Alice Walton                      |$66 Billion  |7-Oct-49 |72  |United States of America|
|23  |Julia Flesher Koch                |$62 Billion  |12-Apr-62|60  |United States of America|
|24  |Charles Koch                      |$60 Billion  |1-Nov-35 |86  |United States of America|
|25  |Michael Dell                      |$52 Billion  |23-Feb-65|57  |United States of America|
|33  |John Mars                         |$42 Billion  |15-Oct-35|86  |United States of America|
|34  |Jacqueline Mars                   |$42 Billion  |10-Oct-39|82  |United States of America|
|35  |Phil Knight                       |$40 Billion  |24-Feb-38|84  |United States of America|
|37  |Stephen Schwarzman                |$35 Billion  |14-Feb-47|75  |United States of America|
|50  |Ken Griffin                       |$28 Billion  |15-Oct-68|53  |United States of America|
|51  |Abigail Johnson                   |$28 Billion  |19-Dec-61|60  |United States of America|
|59  |Carl Icahn                        |$24 Billion  |16-Feb-36|86  |United States of America|
|61  |Pierre Omidyar                    |$24 Billion  |21-Jun-67|55  |United States of America|
|62  |Forrest Mars Jr                   |$23.4 Billion|16-Aug-31|91  |United States of America|
|64  |Eric Schmidt                      |$23 Billion  |27-Apr-55|67  |United States of America|
|67  |James Simons                      |$22 Billion  |25-Apr-38|84  |United States of America|
|71  |Leonard Lauder                    |$21 Billion  |19-Mar-33|89  |United States of America|
|76  |John Menard                       |$20 Billion  |22-Jan-40|82  |United States of America|
|77  |Elaine Marshall                   |$20 Billion  |18-Nov-45|76  |United States of America|
|79  |Dan Gilbert                       |$20 Billion  |17-Jan-62|60  |United States of America|
|86  |Laurene Powell Jobs               |$19 Billion  |6-Nov-63 |58  |United States of America|
|91  |Lukas Walton                      |$18 Billion  |null     |36  |United States of America|
|94  |Donald Bren                       |$17 Billion  |11-May-32|90  |United States of America|
|95  |Thomas Peterffy                   |$17 Billion  |30-Sep-44|77  |United States of America|
|97  |Harold Hamm                       |$17 Billion  |11-Dec-45|76  |United States of America|
|99  |Steven Cohen                      |$16 Billion  |11-Jun-56|66  |United States of America|
|14  |Vladimir Putin                    |$70 Billion  |7-Oct-52 |69  |Russia                  |
|36  |Vladimir Potanin                  |$35 Billion  |3-Jan-61 |61  |Russia                  |
|72  |Andrey Melnichenko                |$21 Billion  |8-Mar-72 |50  |Russia                  |
|75  |Alexey Mordashov                  |$20 Billion  |26-Sep-65|56  |Russia                  |
|80  |Leonid Mikhelson                  |$20 Billion  |11-Aug-55|67  |Russia                  |
|84  |Vladimir Lisin                    |$19 Billion  |7-May-56 |66  |Russia                  |
|90  |Alisher Usmanov                   |$18 Billion  |9-Sep-53 |68  |Russia                  |
|93  |Pavel Durov                       |$17 Billion  |10-Oct-84|37  |Russia                  |
|98  |Viktor Vekselberg                 |$17 Billion  |14-Apr-57|65  |Russia                  |
|21  |Zhong Shanshan                    |$68 Billion  |null     |null|China                   |
|28  |Ma Huateng                        |$48 Billion  |29-Oct-71|50  |China                   |
|31  |Zhang Yiming                      |$44 Billion  |1-Apr-83 |39  |China                   |
|38  |Jack Ma                           |$34 Billion  |15-Oct-64|57  |China                   |
|40  |Colin Huang                       |$33 Billion  |1-Jan-80 |42  |China                   |
|41  |Lee Shau Kee                      |$33 Billion  |29-Jan-28|94  |China                   |
|52  |He Xiangjian                      |$27 Billion  |5-Oct-42 |79  |China                   |
|54  |William Ding                      |$26 Billion  |1-Oct-71 |50  |China                   |
|58  |Eric Yuan                         |$25 Billion  |20-Feb-70|52  |China                   |
|66  |Qin Yinglin                       |$22 Billion  |null     |57  |China                   |
|68  |Wang Wei                          |$22 Billion  |null     |51  |China                   |
|45  |Sheikh Mansour bin Zayed Al Nahyan|$30 Billion  |20-Nov-70|51  |Emirati                 |
|89  |Sheikh Khalifa Bin Zayed Al Nahyan|$18 Billion  |25-Jan-48|74  |United Arab Emirates    |
|4   |Bernard Arnault                   |$135 Billion |5-Mar-49 |73  |France                  |
|11  |Alain & Gerard Wertheimer         |$90 Billion  |null     |null|France                  |
|15  |Fran√ßoise Bettencourt-Meyers      |$70 Billion  |10-Jul-53|69  |France                  |
|26  |Francois Pinault                  |$50 Billion  |21-Aug-36|86  |France                  |
|29  |Alain Wertheimer                  |$45 Billion  |28-Sep-48|73  |France                  |
|92  |Serge Dassault                    |$17.3 Billion|4-Apr-25 |97  |France                  |
|73  |Sir Evelyn De Rothschild          |$20 Billion  |29-Aug-31|90  |England                 |
|16  |Amancio Ortega Gaona              |$70 Billion  |28-Mar-36|86  |Spain                   |
|48  |Maha Vajiralongkorn               |$30 Billion  |28-Jul-52|70  |Thailand                |
|30  |Gerard Wertheimer                 |$45 Billion  |17-Apr-51|71  |French                  |
|47  |Sultan of Brunei                  |$30 Billion  |15-Jul-46|76  |Brunei                  |
|49  |Giovanni Ferrero                  |$28 Billion  |21-Sep-64|57  |Italy                   |
|13  |Carlos Slim Helu                  |$72 Billion  |28-Jan-40|82  |Mexico                  |
|3   |Gautam Adani                      |$138 Billion |24-Jun-62|60  |India                   |
|12  |Mukesh Ambani                     |$89 Billion  |19-Apr-57|65  |India                   |
|55  |Shiv Nadar                        |$25.9 Billion|14-Jul-45|77  |India                   |
|81  |Pallonji Mistry                   |$19 Billion  |1-Jun-29 |null|India                   |
|87  |Lakshmi Mittal                    |$18 Billion  |2-Sep-50 |71  |India                   |
|39  |Miriam Adelson                    |$34 Billion  |10-Oct-45|76  |American, Israeli       |
|74  |Salman bin Abdulaziz Al Saud      |$20 Billion  |31-Dec-35|86  |Saudi Arabia            |
|96  |Prince Al Waleed Bin Talal Alsaud |$17 Billion  |7-Mar-55 |67  |Saudi Arabia            |
|56  |Stefan Persson                    |$25 Billion  |4-Oct-47 |74  |Sweden                  |
|70  |Aliko Dangote                     |$21 Billion  |10-Apr-57|65  |Nigeria                 |
|32  |Tadashi Yanai                     |$42 Billion  |7-Feb-49 |73  |Japan                   |
|46  |Masayoshi Son                     |$30 Billion  |11-Aug-57|65  |Japan                   |
|60  |Takemitsu Takizaki                |$24 Billion  |10-Jun-45|77  |Japan                   |
|65  |Satoshi Nakamoto                  |$22 Billion  |5-Apr-75 |73  |Japan                   |
|42  |Len Blavatnik                     |$32 Billion  |14-Jun-57|65  |United Kingdom          |
|69  |James Dyson                       |$22 Billion  |2-May-47 |75  |United Kingdom          |
|85  |James Ratcliffe                   |$19 Billion  |18-Oct-52|69  |United Kingdom          |
|88  |David & Simon Reuben              |$18 Billion  |null     |null|United Kingdom          |
|1   |Elon Musk                         |$240 Billion |28-Jun-71|51  |South Africa            |
|53  |Dieter Schwarz                    |$27 Billion  |24-Sep-39|82  |Germany                 |
|82  |Susanne Klatten                   |$19 Billion  |28-Apr-62|60  |Germany                 |
|100 |Stefan Quandt                     |$16 Billion  |9-May-66 |56  |Germany                 |
|57  |Joseph Safra                      |$25 Billion  |1-Sep-38 |null|Brazil                  |
|63  |Jorge Paulo Lemann                |$23 Billion  |26-Aug-39|83  |Brazil                  |
|83  |Eduardo Saverin                   |$19 Billion  |19-Mar-82|40  |Brazil                  |
|44  |Gina Rinehart                     |$31 Billion  |9-Feb-54 |68  |Australia               |
|78  |Rupert Murdoch                    |$20 Billion  |11-Mar-31|91  |Australia               |
|27  |David Thomson                     |$50 Billion  |12-Jun-57|65  |Canada                  |
|43  |Li Ka-shing                       |$31 Billion  |29-Jul-28|94  |Canada                  |
+----+----------------------------------+-------------+---------+----+------------------------+

In [26]:
df_parquet_filtered = df_parquet.filter(col('nationality') == 'Russia')
df_parquet_filtered.show(df_parquet_filtered.count(), truncate=False)

+----+------------------+-----------+---------+---+-----------+
|rank|name              |net_worth  |bday     |age|nationality|
+----+------------------+-----------+---------+---+-----------+
|14  |Vladimir Putin    |$70 Billion|7-Oct-52 |69 |Russia     |
|36  |Vladimir Potanin  |$35 Billion|3-Jan-61 |61 |Russia     |
|72  |Andrey Melnichenko|$21 Billion|8-Mar-72 |50 |Russia     |
|75  |Alexey Mordashov  |$20 Billion|26-Sep-65|56 |Russia     |
|80  |Leonid Mikhelson  |$20 Billion|11-Aug-55|67 |Russia     |
|84  |Vladimir Lisin    |$19 Billion|7-May-56 |66 |Russia     |
|90  |Alisher Usmanov   |$18 Billion|9-Sep-53 |68 |Russia     |
|93  |Pavel Durov       |$17 Billion|10-Oct-84|37 |Russia     |
|98  |Viktor Vekselberg |$17 Billion|14-Apr-57|65 |Russia     |
+----+------------------+-----------+---------+---+-----------+

In [27]:
df_last = df_last.union(df_parquet_filtered)
df_last.show(df_last.count(), truncate=False)

+----+----------------------------+-----------+---------+---+-------------+
|rank|name                        |net_worth  |bday     |age|nationality  |
+----+----------------------------+-----------+---------+---+-------------+
|1   |Elon Musk                   |240        |28-Jun-71|51 |South Africa |
|2   |Jeff Bezos                  |150        |12-Jan-64|58 |United States|
|3   |Gautam Adani                |138        |24-Jun-62|60 |India        |
|4   |Bernard Arnault             |135        |5-Mar-49 |73 |France       |
|5   |Bill Gates                  |118        |28-Oct-55|66 |United States|
|6   |Warren Buffett              |101        |30-Aug-30|92 |United States|
|7   |Larry Page                  |100        |26-Mar-73|49 |United States|
|8   |Sergey Brin                 |96         |21-Aug-73|48 |United States|
|9   |Steve Ballmer               |94         |24-Mar-56|66 |United States|
|10  |Larry Ellison               |93         |17-Aug-44|78 |United States|
|12  |Mukesh Ambani               |89         |19-Apr-57|65 |India        |
|13  |Carlos Slim Helu            |72         |28-Jan-40|82 |Mexico       |
|14  |Vladimir Putin              |70         |7-Oct-52 |69 |Russia       |
|15  |Fran√ßoise Bettencourt-Meyers|70         |10-Jul-53|69 |France       |
|16  |Amancio Ortega Gaona        |70         |28-Mar-36|86 |Spain        |
|17  |Michael Bloomberg           |70         |14-Feb-42|80 |United States|
|18  |Mark Zuckerberg             |70         |14-May-84|38 |United States|
|19  |Rob Walton                  |68         |28-Oct-44|77 |United States|
|20  |Jim Walton                  |68         |7-Jun-48 |74 |United States|
|22  |Alice Walton                |66         |7-Oct-49 |72 |United States|
|23  |Julia Flesher Koch          |62         |12-Apr-62|60 |United States|
|14  |Vladimir Putin              |$70 Billion|7-Oct-52 |69 |Russia       |
|36  |Vladimir Potanin            |$35 Billion|3-Jan-61 |61 |Russia       |
|72  |Andrey Melnichenko          |$21 Billion|8-Mar-72 |50 |Russia       |
|75  |Alexey Mordashov            |$20 Billion|26-Sep-65|56 |Russia       |
|80  |Leonid Mikhelson            |$20 Billion|11-Aug-55|67 |Russia       |
|84  |Vladimir Lisin              |$19 Billion|7-May-56 |66 |Russia       |
|90  |Alisher Usmanov             |$18 Billion|9-Sep-53 |68 |Russia       |
|93  |Pavel Durov                 |$17 Billion|10-Oct-84|37 |Russia       |
|98  |Viktor Vekselberg           |$17 Billion|14-Apr-57|65 |Russia       |
+----+----------------------------+-----------+---------+---+-------------+

In [30]:
df_last.write.option("header", 'true').mode('overwrite').csv("1.csv")

In [31]:
plans = df_last._jdf.queryExecution().toString()

In [33]:
plans

"== Parsed Logical Plan ==\n'Union false, false\n:- Project [rank#44, name#45, net_worth#195, bday#47, age#48, nationality#381]\n:  +- Filter isnotnull(age#48)\n:     +- Join Inner, (nationality#381 = country#300)\n:        :- Project [rank#44, name#45, net_worth#195, bday#47, age#48, CASE WHEN (nationality#49 = United States of America) THEN United States WHEN (nationality#49 = French) THEN France WHEN (nationality#49 = England) THEN United Kingdom ELSE nationality#49 END AS nationality#381]\n:        :  +- Filter (net_worth#195 > 60)\n:        :     +- Project [rank#44, name#45, cast(regexp_extract(net_worth#46, ^\\$(\\d+).*$, 1) as int) AS net_worth#195, bday#47, age#48, nationality#49]\n:        :        +- Relation [rank#44,name#45,net_worth#46,bday#47,age#48,nationality#49] csv\n:        +- Relation [country#300,num_billionares#301,billionaire_per_million#302] csv\n+- Filter (nationality#570 = Russia)\n   +- Relation [rank#565,name#566,net_worth#567,bday#568,age#569,nationality#570] parquet\n\n== Analyzed Logical Plan ==\nrank: int, name: string, net_worth: string, bday: string, age: int, nationality: string\nUnion false, false\n:- Project [rank#44, name#45, cast(net_worth#195 as string) AS net_worth#675, bday#47, age#48, nationality#381]\n:  +- Project [rank#44, name#45, net_worth#195, bday#47, age#48, nationality#381]\n:     +- Filter isnotnull(age#48)\n:        +- Join Inner, (nationality#381 = country#300)\n:           :- Project [rank#44, name#45, net_worth#195, bday#47, age#48, CASE WHEN (nationality#49 = United States of America) THEN United States WHEN (nationality#49 = French) THEN France WHEN (nationality#49 = England) THEN United Kingdom ELSE nationality#49 END AS nationality#381]\n:           :  +- Filter (net_worth#195 > 60)\n:           :     +- Project [rank#44, name#45, cast(regexp_extract(net_worth#46, ^\\$(\\d+).*$, 1) as int) AS net_worth#195, bday#47, age#48, nationality#49]\n:           :        +- Relation [rank#44,name#45,net_worth#46,bday#47,age#48,nationality#49] csv\n:           +- Relation [country#300,num_billionares#301,billionaire_per_million#302] csv\n+- Filter (nationality#570 = Russia)\n   +- Relation [rank#565,name#566,net_worth#567,bday#568,age#569,nationality#570] parquet\n\n== Optimized Logical Plan ==\nUnion false, false\n:- Project [rank#44, name#45, cast(net_worth#195 as string) AS net_worth#675, bday#47, age#48, nationality#381]\n:  +- Join Inner, (nationality#381 = country#300)\n:     :- Project [rank#44, name#45, cast(regexp_extract(net_worth#46, ^\\$(\\d+).*$, 1) as int) AS net_worth#195, bday#47, age#48, CASE WHEN (nationality#49 = United States of America) THEN United States WHEN (nationality#49 = French) THEN France WHEN (nationality#49 = England) THEN United Kingdom ELSE nationality#49 END AS nationality#381]\n:     :  +- Filter ((isnotnull(net_worth#46) AND ((cast(regexp_extract(net_worth#46, ^\\$(\\d+).*$, 1) as int) > 60) AND isnotnull(age#48))) AND CASE WHEN (nationality#49 = United States of America) THEN true WHEN (nationality#49 = French) THEN true WHEN (nationality#49 = England) THEN true ELSE isnotnull(nationality#49) END)\n:     :     +- Relation [rank#44,name#45,net_worth#46,bday#47,age#48,nationality#49] csv\n:     +- Project [country#300]\n:        +- Filter isnotnull(country#300)\n:           +- Relation [country#300,num_billionares#301,billionaire_per_million#302] csv\n+- Filter (isnotnull(nationality#570) AND (nationality#570 = Russia))\n   +- Relation [rank#565,name#566,net_worth#567,bday#568,age#569,nationality#570] parquet\n\n== Physical Plan ==\nAdaptiveSparkPlan isFinalPlan=false\n+- Union\n   :- Project [rank#44, name#45, cast(net_worth#195 as string) AS net_worth#675, bday#47, age#48, nationality#381]\n   :  +- BroadcastHashJoin [nationality#381], [country#300], Inner, BuildRight, false\n   :     :- Project [rank#44, name#45, cast(regexp_extract(net_worth#46, ^\\$(\\d+).*$, 1) as int) AS net_worth#195, bday#47, age#48, CASE WHEN (nationality#49 = United States of America) THEN United States WHEN (nationality#49 = French) THEN France WHEN (nationality#49 = England) THEN United Kingdom ELSE nationality#49 END AS nationality#381]\n   :     :  +- Filter (((isnotnull(net_worth#46) AND (cast(regexp_extract(net_worth#46, ^\\$(\\d+).*$, 1) as int) > 60)) AND isnotnull(age#48)) AND CASE WHEN (nationality#49 = United States of America) THEN true WHEN (nationality#49 = French) THEN true WHEN (nationality#49 = England) THEN true ELSE isnotnull(nationality#49) END)\n   :     :     +- FileScan csv [rank#44,name#45,net_worth#46,bday#47,age#48,nationality#49] Batched: false, DataFilters: [isnotnull(net_worth#46), (cast(regexp_extract(net_worth#46, ^\\$(\\d+).*$, 1) as int) > 60), isnot..., Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/home/jovyan/3_Spark_Basics/data/top_100_richest.csv], PartitionFilters: [], PushedFilters: [IsNotNull(net_worth), IsNotNull(age)], ReadSchema: struct<rank:int,name:string,net_worth:string,bday:string,age:int,nationality:string>\n   :     +- BroadcastExchange HashedRelationBroadcastMode(List(input[0, string, false]),false), [plan_id=1443]\n   :        +- Filter isnotnull(country#300)\n   :           +- FileScan csv [country#300] Batched: false, DataFilters: [isnotnull(country#300)], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/home/jovyan/3_Spark_Basics/data/wiki_number_of_billionaires.csv], PartitionFilters: [], PushedFilters: [IsNotNull(country)], ReadSchema: struct<country:string>\n   +- FileScan parquet [rank#565,name#566,net_worth#567,bday#568,age#569,nationality#570] Batched: true, DataFilters: [], Format: Parquet, Location: InMemoryFileIndex(1 paths)[file:/home/jovyan/3_Spark_Basics/data_parquet], PartitionFilters: [isnotnull(nationality#570), (nationality#570 = Russia)], PushedFilters: [], ReadSchema: struct<rank:int,name:string,net_worth:string,bday:string,age:int>\n"

In [34]:
plans_1 = df_last._sc._jvm.PythonSQLUtils.explainString(df_last._jdf.queryExecution(), 'EXTENDED')

In [35]:
plans_1

"== Parsed Logical Plan ==\n'Union false, false\n:- Project [rank#44, name#45, net_worth#195, bday#47, age#48, nationality#381]\n:  +- Filter isnotnull(age#48)\n:     +- Join Inner, (nationality#381 = country#300)\n:        :- Project [rank#44, name#45, net_worth#195, bday#47, age#48, CASE WHEN (nationality#49 = United States of America) THEN United States WHEN (nationality#49 = French) THEN France WHEN (nationality#49 = England) THEN United Kingdom ELSE nationality#49 END AS nationality#381]\n:        :  +- Filter (net_worth#195 > 60)\n:        :     +- Project [rank#44, name#45, cast(regexp_extract(net_worth#46, ^\\$(\\d+).*$, 1) as int) AS net_worth#195, bday#47, age#48, nationality#49]\n:        :        +- Relation [rank#44,name#45,net_worth#46,bday#47,age#48,nationality#49] csv\n:        +- Relation [country#300,num_billionares#301,billionaire_per_million#302] csv\n+- Filter (nationality#570 = Russia)\n   +- Relation [rank#565,name#566,net_worth#567,bday#568,age#569,nationality#570] parquet\n\n== Analyzed Logical Plan ==\nrank: int, name: string, net_worth: string, bday: string, age: int, nationality: string\nUnion false, false\n:- Project [rank#44, name#45, cast(net_worth#195 as string) AS net_worth#675, bday#47, age#48, nationality#381]\n:  +- Project [rank#44, name#45, net_worth#195, bday#47, age#48, nationality#381]\n:     +- Filter isnotnull(age#48)\n:        +- Join Inner, (nationality#381 = country#300)\n:           :- Project [rank#44, name#45, net_worth#195, bday#47, age#48, CASE WHEN (nationality#49 = United States of America) THEN United States WHEN (nationality#49 = French) THEN France WHEN (nationality#49 = England) THEN United Kingdom ELSE nationality#49 END AS nationality#381]\n:           :  +- Filter (net_worth#195 > 60)\n:           :     +- Project [rank#44, name#45, cast(regexp_extract(net_worth#46, ^\\$(\\d+).*$, 1) as int) AS net_worth#195, bday#47, age#48, nationality#49]\n:           :        +- Relation [rank#44,name#45,net_worth#46,bday#47,age#48,nationality#49] csv\n:           +- Relation [country#300,num_billionares#301,billionaire_per_million#302] csv\n+- Filter (nationality#570 = Russia)\n   +- Relation [rank#565,name#566,net_worth#567,bday#568,age#569,nationality#570] parquet\n\n== Optimized Logical Plan ==\nUnion false, false\n:- Project [rank#44, name#45, cast(net_worth#195 as string) AS net_worth#675, bday#47, age#48, nationality#381]\n:  +- Join Inner, (nationality#381 = country#300)\n:     :- Project [rank#44, name#45, cast(regexp_extract(net_worth#46, ^\\$(\\d+).*$, 1) as int) AS net_worth#195, bday#47, age#48, CASE WHEN (nationality#49 = United States of America) THEN United States WHEN (nationality#49 = French) THEN France WHEN (nationality#49 = England) THEN United Kingdom ELSE nationality#49 END AS nationality#381]\n:     :  +- Filter ((isnotnull(net_worth#46) AND ((cast(regexp_extract(net_worth#46, ^\\$(\\d+).*$, 1) as int) > 60) AND isnotnull(age#48))) AND CASE WHEN (nationality#49 = United States of America) THEN true WHEN (nationality#49 = French) THEN true WHEN (nationality#49 = England) THEN true ELSE isnotnull(nationality#49) END)\n:     :     +- Relation [rank#44,name#45,net_worth#46,bday#47,age#48,nationality#49] csv\n:     +- Project [country#300]\n:        +- Filter isnotnull(country#300)\n:           +- Relation [country#300,num_billionares#301,billionaire_per_million#302] csv\n+- Filter (isnotnull(nationality#570) AND (nationality#570 = Russia))\n   +- Relation [rank#565,name#566,net_worth#567,bday#568,age#569,nationality#570] parquet\n\n== Physical Plan ==\nAdaptiveSparkPlan isFinalPlan=false\n+- Union\n   :- Project [rank#44, name#45, cast(net_worth#195 as string) AS net_worth#675, bday#47, age#48, nationality#381]\n   :  +- BroadcastHashJoin [nationality#381], [country#300], Inner, BuildRight, false\n   :     :- Project [rank#44, name#45, cast(regexp_extract(net_worth#46, ^\\$(\\d+).*$, 1) as int) AS net_worth#195, bday#47, age#48, CASE WHEN (nationality#49 = United States of America) THEN United States WHEN (nationality#49 = French) THEN France WHEN (nationality#49 = England) THEN United Kingdom ELSE nationality#49 END AS nationality#381]\n   :     :  +- Filter (((isnotnull(net_worth#46) AND (cast(regexp_extract(net_worth#46, ^\\$(\\d+).*$, 1) as int) > 60)) AND isnotnull(age#48)) AND CASE WHEN (nationality#49 = United States of America) THEN true WHEN (nationality#49 = French) THEN true WHEN (nationality#49 = England) THEN true ELSE isnotnull(nationality#49) END)\n   :     :     +- FileScan csv [rank#44,name#45,net_worth#46,bday#47,age#48,nationality#49] Batched: false, DataFilters: [isnotnull(net_worth#46), (cast(regexp_extract(net_worth#46, ^\\$(\\d+).*$, 1) as int) > 60), isnot..., Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/home/jovyan/3_Spark_Basics/data/top_100_richest.csv], PartitionFilters: [], PushedFilters: [IsNotNull(net_worth), IsNotNull(age)], ReadSchema: struct<rank:int,name:string,net_worth:string,bday:string,age:int,nationality:string>\n   :     +- BroadcastExchange HashedRelationBroadcastMode(List(input[0, string, false]),false), [plan_id=1443]\n   :        +- Filter isnotnull(country#300)\n   :           +- FileScan csv [country#300] Batched: false, DataFilters: [isnotnull(country#300)], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/home/jovyan/3_Spark_Basics/data/wiki_number_of_billionaires.csv], PartitionFilters: [], PushedFilters: [IsNotNull(country)], ReadSchema: struct<country:string>\n   +- FileScan parquet [rank#565,name#566,net_worth#567,bday#568,age#569,nationality#570] Batched: true, DataFilters: [], Format: Parquet, Location: InMemoryFileIndex(1 paths)[file:/home/jovyan/3_Spark_Basics/data_parquet], PartitionFilters: [isnotnull(nationality#570), (nationality#570 = Russia)], PushedFilters: [], ReadSchema: struct<rank:int,name:string,net_worth:string,bday:string,age:int>\n"

In [39]:
with open('plans.txt', 'w') as file:
    file.write(plans)

In [38]:
with open('plans1.txt', 'w') as file:
    file.write(plans_1)